<!DOCTYPE html>
<html>
<head>
	<title>Vue.js Playground</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div id="main">
		<h2><img :src="logo" class="s-logo"> {{ title }}</h2>
		<panel-elem v-if="panel.show" v-for="panel in panels">
			<h3>{{ panel.heading }}</h3>
			<text-input v-if="panel.textboxes" v-for="textbox in panel.textboxes" :inputinfo="textbox"></text-input>
			<checkbox-input v-if="panel.checkboxes" v-for="checkbox in panel.checkboxes" :inputinfo="checkbox"></checkbox-input>
		</panel-elem>
	</div>

<!-- Begin compnent templates -->
	<template id="panel-elem-template">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <slot></slot>
		  </div>
		</div>
	</template>
	<template id="text-input-template">
		<div :class="inputinfo.class">
			<input type=text :id="inputinfo.id" :title="inputinfo.help">
		 	<label :for="inputinfo.id">{{ inputinfo.label }}</label>
	 	</div>
	</template>
	<template id="checkbox-input-template">
		<div :class="inputinfo.class">
			<input type=checkbox :id="inputinfo.id"> {{ inputinfo.text }}
	 	</div>
	</template>
<!-- End component templates -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
	<script src="app.js"></script>
</html>