<!DOCTYPE html>
<html>
<head>
	<title>Vue.js Playground</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div id="main">
		<h2><img :src="logo" class="s-logo"> {{ title }}</h2>
		<span v-for="panel in panels">
			<panel-elem v-if="panel.show" :panelinfo="panel">
				<span v-if="panel.inputs" v-for="input in panel.inputs">
					<text-input v-if="input.type === 'text'" :inputinfo="input"></text-input>
					<checkbox-input v-if="input.type === 'checkbox'" :inputinfo="input"></checkbox-input>
				</span>
				<div class="row s-nav-row" v-if="navbuttons">
					<span v-for="navbutton in navbuttons">
						<nav-button :buttoninfo="navbutton"></nav-button>
					</span>
				</div>
			</panel-elem>
		</span>
	</div>

<!-- Begin component templates -->

	<!-- standard panel template -->
	<template id="panel-elem-template">
		<div class="panel panel-default">
	  		<div class="panel-body">
	  			<h3>{{ panelinfo.heading }}</h3>
	    		<slot></slot>
	  		</div>
		</div>
	</template>
	<!-- end standard panel template -->

	<!-- standard text template -->
	<template id="text-input-template">
		<div :class="inputinfo.class">
			<input :id="inputinfo.id" type=text :title="inputinfo.help">
		 	<label :for="inputinfo.id">{{ inputinfo.label }}</label>
	 	</div>
	</template>
	<!-- end standard text template -->

	<!-- standard checkbox template -->
	<template id="checkbox-input-template">
		<div :class="inputinfo.class">
			<input :id="inputinfo.id" type=checkbox> {{ inputinfo.text }}
	 	</div>
	</template>
	<!-- end standard checkbox template -->

	<!-- standard button template -->
	<template id="nav-button-template">
		<div :class="buttoninfo.colclass">
			<button :id="buttoninfo.id" :class="buttoninfo.class" type="button" v-if="buttoninfo.label" :aria-label="buttoninfo.arialabel" v-on:click="changePanel">
				<span :class="buttoninfo.glyph" v-if="buttoninfo.glyphfirst && buttoninfo.glyph" aria-hidden="true"></span>
				{{ buttoninfo.label }}
				<span :class="buttoninfo.glyph" v-if="!buttoninfo.glyphfirst && buttoninfo.glyph" aria-hidden="true"></span>
			</button>
		</div>
	</template>
	<!-- end standard button template -->

<!-- End component templates -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
	<script src="app.js"></script>
</body>
</html>
