.s-logo {
	max-width: 3em;
}

.s-textinput, .s-checkboxinput {
	margin-bottom: 1em;
}

.s-right {
	text-align: right;
}

.s-nav-row {

}

.slide-fade-enter-active {
  transition: all .8s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Generic styles */
.right {
	text-align: right;
}